<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Javascript</title>
</head>
<body class="producto-galeria">
    <div class="container-fluid">
        <div class="row navar-dark bg-dark p-2">
            <div class="col w-100">
                <h5 class="nombre">TerJan</h5>
                <ul class="nav justify-content-end">
                    <li class="nav-item ">
                      <a class="" href="../index.html">Index</a>
                    </li>
                    <li class="nav-item">
                        <a class="button" aria-current="page" href="producto.html">Product</a>
                      </li>
                    <li class="nav-item">
                      <a class="" href="presupuesto.html">Budget</a>
                    </li>
                    <li class="nav-item">
                      <a class="" href="contact.html">Contact</a>
                    </li>
                  </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card img-1" style="width: 18rem;">
                    <img src="https://cdn.euroinnova.edu.es/img/subidasEditor/whatsapp%20image%202021-02-03%20at%2008-1612464353.25" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card img-2">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRO4Iw1tXcl0zlzQzxzbcJyadgSQJtGQ6Yqrg&s" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card img-3" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTw4LrszY2ZRc-JVoBeI6Tb7bqvA4Y_Ano4QcJ5Jha_83jordfsaexDoMjNDyGvWUzzeC0&usqp=CAU" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card img-4" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRO4Iw1tXcl0zlzQzxzbcJyadgSQJtGQ6Yqrg&s" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card img-5" style="width: 18rem;">
                    <img src="https://lugoneseditorial.com.ar/wp-content/uploads/2024/07/Inteligencia-artificial-diabetes5.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card img-6" style="width: 18rem;">
                    <img src="https://previews.123rf.com/images/jirsak/jirsak1710/jirsak171000008/87259564-proteger-el-concepto-de-salud-cuidado-de-la-salud-y-prevenci%C3%B3n-de-problemas-card%C3%ADacos-cardiolog%C3%ADa.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card img-7" style="width: 18rem;">
                    <img src="https://lugoneseditorial.com.ar/wp-content/uploads/2024/07/Inteligencia-artificial-diabetes5.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card img-8" style="width: 18rem;">
                    <img src="https://inrobics.com/wp-content/uploads/2023/09/Inteligencia-Artificial-en-el-sector-de-la-salud.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
  <div class="container-fluid avisoLegal">
    <button id="buttonAviso">Aviso Legal</button>
    <div id="textoAviso" class="divAviso"></div> 
  </div>
    <div class="container-fluid">
        <div class="row navar-dark bg-dark p-2 footer">
            <div class="col-sm-12 col-lg-6">
               <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sequi accusantium 
                qui sit quam quos. Ducimus, error aspernatur harum, doloremque blanditiis eos 
                mollitia quae voluptates deserunt a incidunt modi molestiae.</p> 
            </div>
            <div class="col-sm-12 col-lg-6">
                <ul class="list-unstyled lista">
                    <li>link</li>
                    <li>Home</li>
                    <li>Page</li>
                    <li>News</li>
                </ul>
            </div>
              <div class="col-sm-12 col-lg-3 d-grid d-flex flex-row">
                <!--d-grid" style="grid-template-columns: repeat(3, 1fr);"--logra que las img se coloquen horizontal-->
                <a class="a-footer" href="https://www.tiktok.com/"><img src="../img-social-media/img-instagram.jpg"
                    class="img-footer" alt=""></a>
                <a class="a-footer" href="https://www.tiktok.com/"><img src="../img-social-media/img.tiktok.png"
                    class="img-footer" alt=""></a>
                <a class="a-footer" href="https://www.tiktok.com/"><img src="../img-social-media/img.twitter.png"
                    class="img-footer" alt=""></a>
                <a class="a-footer" href="https://www.tiktok.com/"><img src="../img-social-media/img.facebook.jpg"
                    class="img-footer" alt=""></a>
              </div>
              <div class="col-sm-12 col-lg-9">
                <h4 class="address">Address Los Rosas 1530 Phone 598498239 C.P: 2345</h4>
              </div>
        </div>
    </div>
    <script src="../js/aviso.js"></script>
</body>
</html>
